header{
    @include flex (row, space-around, center);
    padding: $spacing-small 0;
    border-bottom: 2px solid $secondary;
    margin-top: 20px;
    .header__img{
        max-width: 120px;
    }
    .menu{
        display: flex;
        gap: $spacing-small;
    }
    .menu__link{
        font-size: $text-medium;
        padding: $spacing-xsmall;
        border: 2px solid #fff;
        &:hover{
            color: blue;
        }
    }
}


